.basic-button {
    display: flex;
    min-width: 8.8125rem;
    height: 3rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: var(--azul-noite);
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
}

.basic-button p {
    color: var(--branco-neve);
    font-size: var(--font-p, 1rem);
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.basic-button--disabled {
    background: var(--cor-btn-desabil);
    cursor: unset;
    pointer-events: none;
}

.basic-button--disabled p {
    opacity: .5;
    cursor: unset;
}

.basic-button:not(.basic-button--disabled):hover {
    background: var(--cor-btn-hover);
    border: 1px solid var(--branco-neve);
}

.basic-button:focus {
    border: 1px solid var(--branco-neve);
}

.basic-button:active {
    background: var(--cor-btn-habilitado);
}