.create-password-page {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--cinza-chumbo);
}

.create-password-page__form-zone {
    display: flex;
    width: 66.5rem;
    height: 36.8125rem;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--cinza-gelo);
    box-shadow: -6px 16px 11.7px 0 rgba(0, 0, 0, 0.25);
}

.create-password-page__form-zone__enter-zone {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem 3.125rem 3.125rem 0.625rem;
    background: linear-gradient(270deg, #0A1420 0%, #314459 100%);
}

.create-password-page__form-zone__action-zone__content {
    display: flex;
    width: 24.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.create-password-page__form-zone__action-zone__content__text-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;
}

.create-password-page__form-zone__action-zone__content__text-zone p:first-of-type {
    color: var(--branco-neve);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-h2);
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
}

.create-password-page__form-zone__action-zone__content__text-zone p {
    color: var(--branco-neve);
    text-align: center;
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-p);
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}


.create-password-page__form-zone__action-zone__content__button-zone {

}


.create-password-page__form-zone__create-password {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.create-password-page__form-zone__create-password__content {
    display: flex;
    width: 26.8125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.1875rem;
}

.create-password-page__form-zone__create-password__content__text-zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
    align-self: stretch;
}

.create-password-page__form-zone__create-password__content__text-zone p:first-of-type {
    color: var(--azul-noite);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-h2);
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
}

.create-password-page__form-zone__create-password__content__actions-zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
}

.create-password-page__form-zone__create-password__content__actions-zone__inputs {
    display: flex;
    width: 26.8125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.create-password-page__form-zone__create-password__content__actions-zone__feedbacks {
    display: flex;
    width: 26.8125rem;
    padding: 0 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.create-password-page__form-zone__create-password__content__actions-zone__feedbacks
.circular-checkbox__label {
    font-family: "Sans Serif Collection", sans-serif; !important;
    font-size: var(--font-label); !important;
    font-style: normal; !important;
    font-weight: 400; !important;
    line-height: 160%; !important;
}

.create-password-page__form-zone__create-password__content__button-zone {

}